*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    /* background-color: rebeccapurple; */
}
.container{
   width: 100%;
   height: 100vh;
   background:linear-gradient(135deg, #153677, #4e085f);
   padding: 10px;
}
.main_container{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding:40px 30px 70px ;
    border-radius: 10px;
}
.input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eddef0;
    border-radius: 5px;
    padding-left: 90px;
    margin-bottom: 25px;
    padding: 5px;
}
input{
    font: 1px;
    outline: none;
    border: none;
    background: transparent;
}
button{
    border: none;
    outline: none;
    padding: 16px 40px;
}
button:hover{
    background: #4e085f;
    color: white;
    cursor: pointer;
    /* transition: 1s ease-in; */

}
#list-container{
  list-style: none;
  text-decoration: none;
  font-size: 17px;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}
ul li::before{
    content: '';
    position: absolute;
}